*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px;
}
.title{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0;
}

main{
    display: grid;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 2em;
}
main p{
    margin: 0%;
}
main h3{
    margin:0%;
}
footer, .details-product{
    text-align: center;
}
.product {
    border: 2px solid black;  
    padding: 1em;
}

.separation-block, .separation{
    width: 100%;
    height: 2px;
    background: rgb(15, 15, 15);
    margin-top: 5%;
}
.separation-block-top{
    margin: 0%;
    margin-bottom: 1%;
    margin-top: 0.5%;
}
